#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
1. Python
2. Julia
3. R
4. SQL
5. Scala

## Some of the popular languages that Data Scientists use are:
| Number | Language |
|--------|----------|
| 1 | Python |
| 2 | R |
| 3 | SQL |

## Some of the commonly used libraries used by Data Scientists include:
| Number | Library |
|--------|---------|
| 1. | Panda|
| 2. | NumPy |
| 3. | Django |
| 4. | TensorFlow |
| 5. | SciPy |

## Some of the Data Science Tools are:
 | Data Science Tools |
 ----------------------
 | Jupyter Notebook |
 | R |
 | TensorFlow |

#### The table should indicate three development environment open source tools used in data science.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
2+2

4

In [3]:
8-4

4

In [4]:
5*5

25

In [5]:
16/2

8.0

In [6]:
# This a simple arithmetic expression to mutiply then add integers.
a = 3
b = 4
c = 5
result = (3*4)+5
print(result)

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Shipra Gupta